<!DOCTYPE html>
<html ng-app="MadScienceApp">
<head>

    <!-- CSS -->
    <!-- load bootstrap (bootswatch version) -->
   
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
   <link rel="stylesheet" href="http://bootsnipp.com/dist/bootsnipp.min.css?ver=7d23ff901039aef6293954d33d23c066">
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


    <script src="dist/vendor.js"></script>
    <script src="dist/index.js"></script>
    <script src="bootstrap-fileinput.js"></script>
   

    <link rel="stylesheet" href="css/style.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/components-md.css">
    <link rel="stylesheet" href="css/plugins-md.css">
    <link rel="stylesheet" href="css/bootstrap-fileinput.css">
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="css/dashboard.css">  

</head>

<!-- apply our angular app -->
<body ng-controller="MadScienceController" ng-class="viewBackground">




 <div ng-include = "'views/header.view.html'"></div>
  
  <!-- Modal Code.--> 
  <modal title="Login form" visible="showModal">
      <form role="form">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text" class="form-control" ng-model="person.email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control"  ng-model="person.password"/>
        </div>
        <div ng-show="errormsg" class="alert alert-danger">Invalid Email or Password</div>
        <button type="submit" ng-click="submitLogin(person)" class="btn btn-default">Submit</button>
      </form>
  </modal>

  <div ng-view></div>      
        
</body>
</html>


                