<!DOCTYPE html>
<html>
<head>

    <!-- CSS -->
    <!-- load bootstrap (bootswatch version) -->
   
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>


    <script src="dist/vendor.js"></script>
    <script src="dist/index.js"></script>
   

    <link rel="stylesheet" href="css/style.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    

</head>

<!-- apply our angular app -->
<body ng-app="MadScienceApp">


<div ng-controller="MadScienceController">
 
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Mad Science</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a  data-toggle="dropdown">Administration<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/mad#/about">About Mad Science</a></li>
            <li><a href="#">Developer Blog</a></li>
            <li><a href="#">Publications</a></li>
            <li><a href="#">Credit</a></li>
          </ul>
        </li>
        <li class="dropdown"><a  data-toggle="dropdown">Help Desk<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a> <span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a ng-click="toggleModal()"> <span class="glyphicon glyphicon-log-in"> Login</span></li></a>
      </ul>
    </div>
  </nav>

   <modal title="Login form" visible="showModal">
      <form role="form">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text" class="form-control" ng-model="person.email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control"  ng-model="person.password"/>
        </div>
        <div ng-show="errormsg" class="alert alert-danger">Invalid Email or Password</div>
        <button type="submit" ng-click="submitLogin(person)" class="btn btn-default">Submit</button>
      </form>
  </modal>
</div>

    <!-- inject our views using ng-view -->
    <!-- each angular controller applies a different class here -->
  
    <div class="page {{ pageClass }}" ng-view></div>
        
        
</body>
</html>


                