<div class="billBoardHolder">
    <img src="images/billboard.png" class="billBoardImage"/>
    <div id="container">

        <input id="tab-1" type="radio" name="tab-group" checked="checked" ng-model="tabModel" value="Experiment"/>
        <label for="tab-1">Experiment</label>
        
        <input id="tab-2" type="radio" name="tab-group" ng-model="tabModel" value="Filter"/>
        <label for="tab-2">Filter</label>
        
        <div id="content">
            <div id="content-1">
               Click On Any Experiment Window to play the Game
            </div>
           
            <div id="content-2">
               Have to display filters. 
            </div>
        </div>
    </div>

    <!-- Experiment Windows-->
    <div class="windows" ng-repeat="experiment in experimentWindows">
        <button type="button" ng-click="displayExperimentData(experiment)" class="button">{{experiment.nameOnWindow}}
        </button>
    </div>

</div>
<!-- <div id="billBoard">

  
   
 <button type="button" class="button billBoardButton"></button>
   
   <button type="button" ng-class="{'buttonSelected experimentTabImage' : clicked, 'button experimentTabImage' : !clicked}" ng-click="">Experiment</button>

   <button type="button" ng-class="{'buttonSelected filterTabImage' : clickedFilter, 'button filterTabImage' : !clickedFilter}" ng-click="displayCategories()">Filter</button> 
</div>

<div id="experimentBuildingWindows">
     <span ng-repeat="experiment in experimentWindows">
        <button type="button" ng-click="displayExperimentData(experiment.name)" class="button {{experiment.name}}">{{experiment.name}}</button>
</span>
</div> -->