<div id="madWorldContainer" class="container">
    <!-- <img src="/images/madScienceBackground.png"/> -->
    <div class="billboard">
        <!--<img src="resources/MSD%20Assets/madworld/btn_filter_off.png"/>-->
        <!--<img src="resources/MSD%20Assets/madworld/btn_exp_on.png"/>-->
        <img src="images/billboard.png"/>
    </div>
    <h3 id="billboardLabel">Click On Any Experiment</h3>
    <div class="building">
        <div id="front-buildings">
            <img src="images/front_buildings.png"/>
        </div>
        <div class="buttonLeft button" >
            Left
        </div>
        <div class="buttonRight button" >
            Right
        </div>
 
        <div class="button1 button" ng-click="fillBillBoard()">
            Exp 1
        </div>
        <div class="button2 button">
             Exp 2
        </div>
        <div class="button3 button">
             Exp 3
        </div>
        <div class="button4 button">
             Exp 4
        </div>
        <div class="button5 button">
             Exp 5
        </div>
        <div class="button6 button">
             Exp 6
        </div>
        <div class="button7 button">
             Exp 7
        </div>
        <div class="button8 button">
             Exp 8
        </div>
        <div class="button9 button">
             Exp 9
        </div>
        <div class="button10 button">
             Exp 10
        </div>
        <div class="button11 button">
             Exp 11
        </div>
        <div class="button12 button">
             Exp 12
        </div>
        <div class="button13 button">
             Exp 13
        </div>
        <div class="button14 button">
             Exp 14
        </div>
        <div class="button15 button">
            Exp 15
        </div>
        <div class="button16 button">
             Exp 16
        </div>

    </div>
</div>

