<div>
	<form  name="form" novalidate>	
		<div class="row" ng-show="personalDetails">
			<div id="legend " style="margin-top: 20px;margin-left: 50px;">
              <legend>Personal Details</legend>
            </div>

			<div id="register-content">
				<div class="row">
					<div class="col-md-6">
						<label for="user">Username</label>
					</div>
					<div class="col-md-6">
						<label for="gender" >Gender</label>
					</div>	
				</div>
				<div class="row">	

					<div class="col-md-6" ng-class="{'has-success' : inputModel}">	
						<input type="text" name="username" ng-model="inputModel" ng-model="user.userName" placeholder="Username can contain any letters or numbers, without spaces" class="form-control" required
						tooltip-trigger="mouseenter" >

             			<span style="color: #d9534f;" ng-show="form.username.$touched && form.username.$invalid">

							<span ng-show="form.username.$error.required">Username is required.</span>
						</span>
       
					</div>

					<div class="form-group">
        				<div class="col-md-6">
            				<div class="btn-group">
        						<label class="btn btn-primary" ng-model="user.gender" uib-btn-radio="'Male'">Male</label>
        						<label class="btn btn-primary" ng-model="user.gender" uib-btn-radio="'Female'">Female</label>
       							 <label class="btn btn-primary" ng-model="user.gender" uib-btn-radio="'Other'">Other</label>
   						    </div>
       				     </div>
    				</div>
				</div>		

				<br/>
				<div class="row">
					<div class="col-md-6">
						<label for="password">Password</label>
					</div>
					<div class="col-md-6">
						<label for="birthday"> Date Of Birth</label>
					</div>				
				</div>
				<div class="row">
					<div class="col-md-6" >
						<input class="form-control" type="password" placeholder="Password should be at least 6 characters" name="password" ng-model="user.userPassword" required password-directive>
						<span ng-show="form.password.$touched">
							<span style="color:#d9534f" ng-show="form.password.$error.required">Password is required.</span>
						</span>
						<span ng-hide="form.password.$error.required">
							<span style="color:#d9534f" ng-show="form.password.$error.validpassword">Password is not valid.</span>
						</span>	
					</div>
					<div class="col-md-4 input-group">
						<!-- <p class="input-group"> -->
          					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
         					 <span class="input-group-btn">
            					<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          					</span>
        				<!-- </p> -->
					</div>	
				</div>	
				
				<br/>

				<div class="row">
					<div class="col-md-6">
						<label for="confirmpassword">Confirm Password</label>
					</div>
				</div>	
				<div class="row">	
					<div class="col-md-6">
						<input class="form-control" placeholder="Please confirm password" compare-to="user.userPassword" type="password" name="confirmpassword" ng-model="user.userConfirmPassword" required>
						<span style="color:#d9534f" ng-show="form.confirmpassword.$error.required && form.confirmpassword.$touched">Please confirm your password.</span>
	   					<span style="color:#d9534f" ng-show="!form.confirmpassword.$error.required && form.confirmpassword.$error.errorCompareTo && form.password.$dirty">Passwords do not match.</span>
	   				</div>	
				</div>

				<br/>
				<div class="row">
					<div class="col-md-6">
						<label for="email">Email</label>
					</div>
					<div class="col-md-6">
						<label for="confirmemail">Confirm Email</label>
					</div>
				</div>	
				<div class="row">
					<div class="col-md-6">
						<input placeholder="example@mail.com" class="form-control" type="email" name="email" ng-model="user.email" required>
						<span style="color:#d9534f" ng-show="form.email.$touched
						 && form.email.$invalid">
							<span ng-show="form.email.$error.required">Email is required.</span>
							<span ng-show="form.email.$error.email">Invalid email address.</span>
						</span>
					</div>
					<div class="col-md-6">
						<input class="form-control" placeholder="Please confirm email" compare-to="user.email" type="email" name="confirmemail" ng-model="user.confirmemail" required>
						<span style="color:#d9534f" ng-show="form.confirmemail.$error.required && form.confirmemail.$touched">Please confirm your email.</span>
	   					<span style="color:#d9534f" ng-show="!form.confirmemail.$error.required && form.confirmemail.$error.errorCompareTo && form.email.$dirty">Email do not match.</span>
					</div>		
				</div> 
				<br/>

				<div class="row">
					<div class="col-md-12">
					<label for="emailsetting">Email Setting       </label>
					<span><input type="radio" ng-model="user.emailSetting" value="single"/>Single
					</span>
      				<span><input type="radio" ng-model="user.emailSetting" value="daily"/>Daily Digest
      				</span>
      				<span><input type="radio" ng-model="user.emailSetting" value="weekly"/>Weekly Digest
      				</span>
      				</div>
				</div>
				<br/>
				<div class= "row">
					<div class="col-md-6">
					</div>
					<div class="col-md-4" style="float: right;">
						<button ng-click="togglePersonalDetails()" ng-disabled="form.username.$invalid || form.email.$invalid
			|| form.password.$error.required || form.password.$error.validpassword || form.confirmpassword.$error.required || form.confirmpassword.$error.errorCompareTo || form.confirmemail.$error.required || 
			form.confirmemail.$error.errorCompareTo" class="btn btn-success center-block btn-width btn-block btn-lg">Next</button>
					</div>
				</div>
			</div>	
		</div>


		<!-- DEMOGRAPHIC CONTENTS -->
		<div class ="row" ng-show="demographicDetails">
			<div id="legend " style="margin-top: 20px;margin-left: 50px;">
              <legend>Demographic Details</legend>
            </div>

			<div id="register-content">
				<div class="row">
					<div class="col-md-4">
						<label for="user">Nationality</label>
					</div>
					<div class="col-md-4">
						<label for="gender" >Country of Residence</label>
					</div>	
				</div>


				<div class="row">	
					<div class="col-md-4 ">	
						<select class="styled-select form-control" ng-model="user.nationality" ng-options="country for country in countries">
							<option value="">Choose the country you born</option>
						</select>
					</div>
					<div class="col-md-4 styled-select">
						<select class="styled-select form-control" ng-model="user.country" ng-options="country for country in countries">
							<option value="">Choose the country you live in</option>
						</select>
					</div>
				</div>		
					
				
				<br/>
				<div class="bg-success" style="border-radius: 8px; margin-left: 5px;" >
				<div class="row">
					<div class ="col-md-12 " style=" margin-left: 5px;">
						<label for="Race">Race</label>
					</div>
				</div>
				<div class="row " style="margin-top: 10px; margin-left: 5px;">
					<div class="col-sm-1">
					<span><input type="radio" ng-model="user.race" value="american" /></span>
					</div>
					<div class="col-md-10">
						<b uib-tooltip="A person having origins in any of the original peoples of North and South America (including Central America), and who maintains tribal affiliation or community attachment." tooltip-class="customClass" tooltip-placement="right">American Indian or Alaska Native</b> 
					</div>		
				</div>
				<div class="row " style="margin-top: 10px; margin-left: 5px;">
					<div class="col-sm-1">
					<span><input type="radio" ng-model="user.race" value="pacific" /></span>
					</div>
					<div class="col-md-10">
						<b uib-tooltip="A person having origins in any of the original peoples of Hawaii, Guam, Samoa, or other Pacific Islands." tooltip-class="customClass" tooltip-placement="right">Native Hawaiian or Other Pacific Islander</b> 
					</div>		
				</div>
				<div class="row" style="margin-top: 10px; margin-left: 5px;">
					<div class="col-sm-1">
					<span><input type="radio" ng-model="user.race" value="asian" /></span>
					</div>
					<div class="col-md-10">
						<b uib-tooltip="A person having origins in any of the original peoples of the Far East, Southeast Asia, or the Indian subcontinent, including, for example, Cambodia, China, India, Japan, Korea, Malaysia, Pakistan, the Philippine Islands, Thailand, and Vietnam." tooltip-class="customClass" tooltip-placement="right">Asian</b>
					</div>		
				</div>
				<div class="row" style="margin-top: 10px; margin-left: 5px;">
					<div class="col-sm-1">
					<span><input type="radio" ng-model="user.race" value="blackafrican" /></span>
					</div>
					<div class="col-md-10">
						<b uib-tooltip="A person having origins in any of the black racial groups of Africa. Terms such as "Haitian" or "Negro" can be used in addition to "Black or African American"." tooltip-class="customClass" tooltip-placement="right">Black or African American</b> 
					</div>		
				</div>
				<div class="row" style="margin-top: 10px; margin-left: 5px;">
					<div class="col-sm-1">
					<span><input type="radio" ng-model="user.race" value="white" /></span>
					</div>
					<div class="col-md-10">
						<b uib-tooltip="A person having origins in any of the original peoples of Europe, the Middle East, or North Africa." tooltip-class="customClass" tooltip-placement="right">White</b> 
					</div>	
					<br>	
					<br>
				</div>
				</div>

				<br/>

				<div class="row" >
					<div class="col-md-12">
					 <label>Social Media</label>
					</div>
				</div>

				<div class="row" style="margin-left: 5px;">
					<div class="img" style="border-radius:15px; width: 50px;">
						<img src="https://www.facebookbrand.com/img/fb-art.jpg">
					</div>
					<div class="col-md-6" style="margin-top: 15px;">
						<input class="url form-control" type="text" name="user" ng-model="user.facebook">
					</div>
				</div>


				<div class="row" style="margin-left: 5px;">
					<div class="img" style="border-radius:15px; width: 50px;" >
						<img  src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Instagram-256.png">
					</div>
					<div class="col-md-6" style="margin-top: 15px;">
						<input class="url form-control" type="text" name="user" ng-model="user.instagram">
					</div>
				</div>

				<div class="row" style="margin-left: 5px;">
					<div class="img" style="border-radius:15px; width:50px;" >
						<img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png">
					</div>
					<div class="col-md-6" style="margin-top: 15px;">
						<input class="url form-control" type="text" name="user" ng-model="user.linkedin">
					</div>
				</div>

				<div class="row" style="margin-left: 5px;">
					<div  class="img" style="border-radius:15px; width:50px;">
						<img src="https://lh3.ggpht.com/lSLM0xhCA1RZOwaQcjhlwmsvaIQYaP3c5qbDKCgLALhydrgExnaSKZdGa8S3YtRuVA=w300">
					</div>
					<div class="col-md-6" style="margin-top: 15px;">
						<input class="url form-control" type="text" name="user" ng-model="user.twitter">
					</div>
				</div>

				<br/>
				<div class= "row">
					<div class="col-md-4">
						<button ng-click="toggleBackDemographicDetails()" class="btn btn-default center-block btn-width  btn-block btn-lg">Previous</button>
					</div>
					<div class="col-md-4" style="float: right;">
						<button ng-click="toggleDemographicDetails()"  class="btn btn-success center-block btn-width btn-block btn-lg">Next</button>
					</div>
				</div>
			</div>
		</div>



		<!-- INTEREST -->
<div class="row" ng-show="interestDetails" >
	<div id="legend " style="margin-top: 20px;margin-left: 50px;">
		<legend>Activities</legend>
	</div>

	<div id="register-content">
				<div class="row col-md-12">
					<label>Interests</label>
				</div>
				
				<div class="row">
					<div ng-repeat="role in roles">
           				<div class="img">
    						<img ng-src="{{role.url}}">
  							<div class="desc">
  							<input type="checkbox" ng-model="user.interest[role.name]">{{role.name}}
  							</div>
						</div>
  					</div>
  				</div>

  				<br/>

  				<div class="row">
					<label>How often do you play games?</label>
				</div>
				<div class="row">
					<span><input type="radio" ng-model="user.pro" value="notveryoften" />Not Very Often</span>
				</div>
				<div class="row">		
      				<span><input type="radio" ng-model="user.pro" value="often"/>Often</span>
				</div>

  				<br/>

  				<div class="row col-md-12">
					<label>What type of games do you like to play?</label>
				</div>
				
				<table>
  				 	<tr ng-repeat="g in games">
           				<td><input type="checkbox" ng-model="user.game[g]">{{g}}</td> 
        		 	</tr>
  				</table>
			
			<br/>
			<div class= "row">
					<div class="col-md-4">
						<button ng-click="togglesBackinterestDetails()" class="btn btn-default center-block btn-width btn-block btn-lg">Previous</button>
					</div>
					<div class="col-md-4" style="float: right;">
						<button ng-click="register(user)" ng-disabled="form.username.$invalid || form.email.$invalid
			|| form.password.$error.required || form.password.$error.validpassword || form.confirmpassword.$error.required || form.confirmpassword.$error.errorCompareTo || form.confirmemail.$error.required || 
			form.confirmemail.$error.errorCompareTo"  class="btn btn-success center-block btn-width btn-block btn-lg">Submit</button>
					</div>
			</div>
	</div>
</div>	



	</form>	

</div>
