<div class="container-fluid contentContainer" id="topContainer">

 	<div class="row">
 	 	
 	 	 <div class="col-md-6 col-md-offset-3" id="topRow">
 	 	 	
 	 	 <h1 class="p" id="welcome">Welcome to the Mad World!!!</h1>
 	 	 	
 	 	 <p class="marginTop lead p">A Game for People About People</p>
		</div>
 	 	
 	 	
 	</div>
	


<div class="row footer-container">
 	 	<a href="#about">
 	 	 	<div style="color: white;" class="col-md-5 marginLeft marginTop  btn btn-info" >
 	 		 	<h2><span class="glyphicon glyphicon-user"></span> HEADQUARTERS</h2>
 	 	 		<h4> PERSONAL AND VIRTUAL LAB</h4>
 	 	 	</div>
     	</a>
 	 	 	
 	 	 <div style=" color: white;" class="col-md-5 marginLeft marginTop  btn btn-info" >
 	 	 <h2><span class="glyphicon glyphicon-search"></span> MAD WORLD!</h2>
 	 	 <h4> EXPLORE ALL EXPERIMENTS</h4>
 	 	 </div>
 	 	
 	</div>

</div>

