
    	<div class="row home-back" >
    		<div class="col-lg-6 col-md-6 col-xl-6">
    			<div class = "image-overlay col-lg-12 col-md-12 col-xl-12" id="hq_img" ng-hide="myValue"
                ng-init="imgsrc='../images/homepage/hq_off.png'" ng-mouseover="imgsrc='../images/homepage/hq_on.png'" ng-mouseout="imgsrc='../images/homepage/hq_off.png'">
    				<img ng-src="{{imgsrc}}" id="commLabsImage">   
    				<div class="project-overlay ">
    					<img  ng-click="myValue=true" ng-src="images/homepage/headquarters_btn.png" class="homepage_btn">
    				</div>
    			</div> 
    		</div>

    		<div class="col-lg-6 col-md-6 col-xl-6">
    			<div class = "img-overlay col-lg-12 col-md-12 col-xl-12" id="mw_img" ng-hide="myValue"
                ng-init="imgsrc2='../images/homepage/mw_off.png'" ng-mouseover="imgsrc2='../images/homepage/mw_on.png'" ng-mouseout="imgsrc2='../images/homepage/mw_off.png'">
    				<img ng-src="{{imgsrc2}}" id="madWorldImage">
    				<div class="project-overlay " >
    					<!-- <a href="/mad#/madworld"> -->
    					<img  ng-click="myValue = true; gotoPage()" ng-src="images/homepage/mad_world_btn.png" class="homepage_btn"> 
    					<!-- </a> -->
    				</div>
    			</div> 
     		
     		
    		</div>
    	</div>

    