
<div style="margin-top: 80px;">
	<div class="row">
		<div class="col-md-1 col-lg-1">
		</div>
		<div style="text-align:center;" class="col-md-10 col-lg-10">
					<div ng-repeat="exp in exps" style="width: 1000px;">
           				<div class="img2">
           					<a href="/mad#/experiments">
    						<img ng-src="{{exp.url}}">
    						</a>
						</div>
  					</div>
  		</div>
		<div class="col-md-1 col-lg-1">
		</div>
	</div>

	<div class="row" style="margin-top:3%">
		<div class="col-md-4 col-lg-4">
			<div class="col-md-1 col-lg-1"></div>
			<div class="col-md-10 col-lg-10">
				<img ng-src="images/personallab/blackboard.png" class="col-md-12 col-lg-12 img3"></img>
				<img style="margin-top:10%;" ng-src="images/personallab/trophies.png" class="img3"></img>
			</div>
			<div class="col-md-1 col-lg-1"></div>
			<div style="position:absolute; top: 8%; left: 32%; color:white"><i>STATS</div>
			<div style="position:absolute; top: 15%; left: 32%; color:red"><i>SCENARIO CREATED</i> {{created}}</div>
			<div style="position:absolute; top: 20%; left: 32%; color:red"><i>SCENARIO PLAYED</i> {{played}}</div>
			
		</div>
		<div class="col-md-4 col-lg-4" style="margin-top:5%; text-align:center">
			<img ng-src="images/personallab/desk.png" class="col-md-8 col-lg-8 img3"></img>
		</div>
		<div class="col-md-4 col-lg-4">
			<img  class ="col-md-10 col-lg-10 img3" ng-src="images/personallab/comm_labs.png"></img>
			<img  class="img3" style="margin-top:25%" ng-src="images/personallab/portraits.png"></img>
		</div>
	</div>
</div>